body {
    background: #e7ebf2;
    margin: 0;
    padding: 0;
    font-family: arial, helvetica;
  }
  .content {
    width: 852px;
    margin: 0 auto;
    padding-right: 335px;
  }
  .title {
    color: #4c66a4;
    float: left;
    margin: 0.2em 0.8em;
  }
  .bar-top {
    top: 0;
    background: #4c66a4;
    position: fixed;
    height: 45px;
    width: 100%;
  }
  .bar-in {
    background: white;
    border: 1px solid #c4cde0;
    border-top: 0;
    width: 850px;
    height: 50px;
    position: fixed;
    top: 45px;
  }

  input[type="url"] {
    height: 20px;
    border-radius: 3px;
    margin: 8px 0;
    width: 70%;
    border: 1px solid #ccc;
    padding: 3px 5px;
    font-size: 14px;
    vertical-align: middle;
  }

  .submit {
    background: transparent;
    border: 0px solid #5D5F92;
    margin-left: -35px;
    width: 30px;
    height: 26px;
    border-radius: 0 3px 3px 0;
    color: #666;
    font-weight: bolder;
    font-family: arial, helvetica;
    vertical-align: middle;
    line-height: 26px;
    font-size: 16px;
  }

  .iframe-tab {
    width:810px;
    height:800px;
    margin: 100px auto 0;
    padding: 20px 20px;
    background: white;
    border-radius: 3px;
    border: 1px solid #c4cde0;
  }
  .social-btns {
    list-style: none;
    float: right;
    margin-right: 20px;
    padding: 0;
  }
  .social-btns li {
    display: inline-block;
  }

  /*Options box*/
  .option-box {
    position: fixed;
    background: white;
    right: 0;
    bottom: 0;
    top: 46px;
    padding: 20px 10px;
    width: 220px;
    border-left: 1px solid #999;
    font-size: 85%;
  }



/*******************************
           Checkbox
*******************************/

/*--------------
    Standard
---------------*/


/*--- Content ---*/

.checkbox {
  position: relative;
  display: inline-block;
  min-width: 1em;
  height: 1.25em;
  line-height: 1em;
  outline: none;
  vertical-align: middle;
}
.checkbox input {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  outline: none;
}


/*--- Box ---*/
.checkbox label {
  cursor: pointer;
  outline: none;
}
.checkbox label:before {
  line-height: 1;
  background: #FFFFFF;

  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease
  ;
  box-shadow: 0em 0em 0em 1px rgba(0, 0, 0, 0.2);
  border: 1px solid #999;
}

/*--- Checkbox ---*/
.checkbox label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  background: transparent;
  border: 0.2em solid #333333;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}


/*--- Inside Label ---*/
.checkbox label {
  transition: color 0.2s ease;
}
.checkbox label:hover {
  color: rgba(0, 0, 0, 0.8);
}

.checkbox input:focus + label {
  color: rgba(0, 0, 0, 0.8);
}

/*--- Outside Label  ---*/
.checkbox + label {
  cursor: pointer;
  opacity: 0.85;
  vertical-align: middle;
}
.checkbox + label:hover {
  opacity: 1;
}


/*******************************
           States
*******************************/


/*--- Hover ---*/
.checkbox label:hover::before {
  box-shadow: 0em 0em 0em 1px rgba(0, 0, 0, 0.3);
}

/*--- Down ---*/
.checkbox label:active::before {
  background-color: #F5F5F5;
}

/*--- Focus ---*/
.checkbox input:focus + label:before {
  box-shadow: 0em 0em 0em 1px rgba(0, 0, 0, 0.3);
}

/*--- Active ---*/
.checkbox input:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

/*--- Disabled ---*/
.disabled.checkbox label,
.checkbox input[disabled] + label {
  opacity: 0.4;
  color: rgba(0, 0, 0, 0.3);
}


/*--------------
     Toggle
---------------*/

.toggle.checkbox {
  cursor: pointer;
}

.toggle.checkbox label {
  padding-left: 4em;
}

/* Switch */
.toggle.checkbox label:before {
  cursor: pointer;
  display: block;

  position: absolute;
  content: '';
  top: -0.25em;
  left: 0em;
  z-index: 1;

  background-color: #FFFFFF;
  width: 3em;
  height: 1.5em;

  transform: none;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 50rem;
}

/* Activation Light */
.toggle.checkbox label:after {
  opacity: 1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  content: '';
  position: absolute;
  top: 0;
  left: 0.2em;
  z-index: 2;

  border: none;
  width: 1.2em;
  height: 1.2em;
  /*color off*/
  background-color: #D95C5C;
  border-radius: 50rem;
  transition:
    background 0.3s ease 0s,
    left 0.3s ease 0s
  ;
}

/* Active */
.toggle.checkbox:active label:before {
  background-color: #F5F5F5;
}

/* Active */
.toggle.checkbox input:checked + label:after {
  left: 1.75em;
  /*color on*/
  background-color: #89B84C;
}