body {
    background: #e7ebf2;
    margin: 0;
    padding: 0;
  }
  .content {
    width: 852px;
    margin: 0 auto;
  }
  .bar-top {
    top: 0;
    background: #4c66a4;
    position: fixed;
    height: 45px;
    width: 100%;
  }
  .bar-in {
    background: white;
    border: 1px solid #c4cde0;
    border-top: 0;
    width: 851px;
    height: 50px;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    margin: auto;
  }

  input {
    height: 20px;
    border-radius: 3px;
    margin: 8px 0;
    width: 70%;
    border: 1px solid #ccc;
    padding: 3px 5px;
    font-size: 14px;
  }
  iframe {
    width:810px;
    height:800px;
    margin: 100px auto 0;
    padding: 20px 20px;
    background: white;
    border-radius: 3px;
    border: 1px solid #c4cde0;
  }