body {
    background: #e7ebf2;
    margin: 0;
    padding: 0;
    font-family: arial, helvetica;
  }
  .content {
    width: 852px;
    margin: 0 auto;
    padding-right: 335px;
  }
  .title {
    color: #4c66a4;
    float: left;
    margin: 0.2em 0.8em;
  }
  .bar-top {
    top: 0;
    background: #4c66a4;
    position: fixed;
    height: 45px;
    width: 100%;
  }
  .bar-in {
    background: white;
    border: 1px solid #c4cde0;
    border-top: 0;
    width: 850px;
    height: 50px;
    position: fixed;
    top: 45px;
  }

  input {
    height: 20px;
    border-radius: 3px;
    margin: 8px 0;
    width: 70%;
    border: 1px solid #ccc;
    padding: 3px 5px;
    font-size: 14px;
  }
  .iframe-tab {
    width:810px;
    height:800px;
    margin: 100px auto 0;
    padding: 20px 20px;
    background: white;
    border-radius: 3px;
    border: 1px solid #c4cde0;
  }
  .social-btns {
    list-style: none;
    float: right;
    margin-right: 20px;
    padding: 0;
  }
  .social-btns li {
    display: inline-block;
  }